* {
    box-sizing: border-box;
}

html {
    position: relative;
}

body {
    position: relative;
    width: 960px;
    margin: 0 auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;        
    color: #777;
    background: #dddddd;
    background-image: url("../images/ggbackground.jpg");
    font-size: 18px;
    line-height: 32px;
    min-height: 100%;
}

nav {
    position: fixed;
    left: 0;
    overflow: hidden;
    width: 100%;
    padding: 20px;
    z-index: 3;
    margin-bottom: 20px;
    border-bottom: 5px solid #cccccc;
    background: #ffffff;
}

section {
    position: relative;
    top: 140px;
    padding: 20px;
    margin-bottom: 100px;
    border: 1px solid #dddddd;
    background: #ffffff;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    border-bottom: 3px solid #4aaaa5;
}

header {
    clear: both;
    padding: 0 20px 15px 0;
    margin-bottom: 20px;
    border-bottom: 5px solid #cccccc;
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

img {
    width: 20%
}

:root {
    --mainColor: #4aaaa5;
}

a {
    background:
        linear-gradient(
            to bottom, var(--mainColor) 0%,
            var(--mainColor) 100%
        );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    transition: background-size .2s;
    text-decoration: none;
    color: #000000; 
    font-size: x-large;
}

a:hover {
    color: rgb(255, 255, 255);
    background-size: 4px 50px;
}

ul {
    list-style: none;
    margin: 0;
}

li {
    float: left;
    display: block;
}

.techList {
    list-style-type: disc;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.mainpic {
    float: left;
    margin: 20px;

}

title {
    text-decoration: underline;
}

h3 {
    text-align: center;
    text-decoration-line: underline;
    color: #4aaaa5;
    margin-left: 5%;
    padding-top: 5%;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 4;
    clear: both;
    overflow: hidden;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background: #666666;
    border-top: 5px solid #4aaaa5;
    font-size: 10px;
}

#ftrName {
    color: #ffffff;
}


.logo {
    float: left;
    padding: 0 20px;
    bottom: 0;
    left: 315px;
    position: absolute;
    color: #ffffff;
    background: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
}

.main-nav {
    float: right;
    padding: 20px;
    margin: 0 270px 0 0;
}

.right-nav {
    margin: 0 10px;
    color: #777777; 
}

.main-content {
    margin: 15px 0;
}

.form-field {
    width: 100%;
    height: 30px;
    padding: 10px;
}

.form-text-area {
    height: 250px;
}

.form-btn {
    padding: 10px 20px;
    color: #ffffff;
    background: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
}

.gallery {
    overflow: hidden;
    background: #ffffff;
    padding: 0;
}

.gallery-img {
    position: relative;
    float: left;
    margin: 0 20px 20px 0;
}

.gallery-img-dim {
    width: 300px;
    height: 200px;
}

.img-txt {
    position: absolute;
    bottom: -10px;
    z-index: 2;
    width: 100%;
    padding: 10px;
    margin: 0px;
    text-align: center;
    color: #ffffff;
    background: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#nameLogo {
    color: white;
}

.img__wrap {
    position: relative;
}

.img__description {
    position: absolute;
    top: -20px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(39, 55, 65, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding: 20%;
}

.img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
}

.contact-area {
    padding: 30px;
    margin: 0 0 40px 0;
    width: 100%;
    max-width: 650px;
    float: left;
    border: 2px solid #ddd;
}

.sidebar {
    padding: 30px;
    width: 100%;
    max-width: 270px;
    float: right;
    border: 2px solid #ddd;
    margin-bottom: 20px;
}

.row {
    column-count: 2;
    border-bottom: 2px solid #4aaaa5;
    display: grid;
    grid-template-columns: 50% 50%;
}

/* .wrapLeft {
    float: left;
}

.wrapRight {
    float: right;
} */

.thumb {
    width: 100%;
    height: 100%;
}

.link {
    display: inline-block;
    margin-right: 10%;
    margin-left: 2%;
}